.logo {
	display: block;
	padding-top: 24px;
	padding-bottom: 25px;

	color: #000000;
	font-family: Raleway, sans-serif;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
}

.logo-head {
	color: $accent-color;
}
